body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center center;
}

.icon {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.text-mine {
    color: royalblue;
}

.bg-mine {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fs-80 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #f1f1f1;
    letter-spacing: 10px;
}

.fs-40 {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.services .title h2 {
    color: #222;
}

.services .title h3 {
    color: #fff;
}

.services .container .row .col-md-4 .icon {
    width: 10px;
}