img {
    width: 150px;
    position: relative;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        left: 0;
        top: 0;
        transform: rotateY(0deg);
    }
    50% {
        left: 90vw;
        top: 0;
        transform: rotateY(0deg);
    }
    51% {
        left: 90vw;
        top: 0;
        transform: rotateY(180deg);
    }
    100% {
        left: 0;
        top: 0;
        transform: rotateY(180deg);
    }
}