* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    color: #c0cccc;
}


/* First Section - Navbar  */

.first-section {
    background: linear-gradient(rgba(17, 20, 24, 0.8), rgba(17, 20, 24, 0.8)), url(../images/intro-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.logo-image img {
    display: inline-flex;
    flex-direction: row;
    padding: 0px 10px;
}

.social-icons i {
    padding: 0px 10px;
}

.nav-list ul {
    display: flex;
}

ul li {
    list-style: none;
    padding-right: 30px;
    padding-top: 0.2em;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    color: #14c271;
    transition: all 0.2s ease;
}


/* 1st section - header */

.header-section {
    position: absolute;
    top: 30%;
    left: 35%;
}

.header-section .container {
    position: relative;
}

#opening-text {
    font-size: 28px;
    color: white;
    margin-left: 155px;
    margin-bottom: 5px;
}

#location {
    color: rgb(222, 227, 228);
    font-size: 21px;
    line-height: 37.8px;
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
    white-space: nowrap;
}

.typewriter {
    color: white;
    font-size: 55px;
    font-weight: 500;
    max-width: max-content;
    overflow: hidden;
    white-space: nowrap;
}

.typing-erase {
    animation: 4s typing-erase 4s steps(50, end) infinite, blink-caret .5s step-end infinite;
    -webkit-animation: 4s typing-erase 4s steps(50, end) infinite, blink-caret .5s step-end infinite;
}


/* The type and erase effect */

@keyframes typing-erase {
    0% {
        width: 0
    }
    80% {
        width: 100%
    }
    90%,
    100% {
        width: 0
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: gray
    }
}

.header-section .container button {
    font-size: 17px;
    color: #20C997;
    font-weight: 500;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #20C997;
    border-width: 2px;
    height: 55px;
    width: 145px;
    margin-top: 95px;
    margin-left: 150px;
    white-space: nowrap;
    transition: all 0.5s ease;
    cursor: pointer;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 29%;
    border-bottom-left-radius: 29%;
}

.header-section .container button:hover {
    color: white;
    background-color: #20C997;
}