* {
    margin: 0;
    padding: 0;
}


/* 1st section */

.intro-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/slider/slider-01.jpg) center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    box-sizing: border-box;
    text-align: center;
}

.intro-section .navbar {
    padding: 20px;
}

.intro-section .navbar #logo {
    color: #ff305b;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    float: left;
    margin-left: 150px;
}

.intro-section .navbar .nav-links li {
    vertical-align: baseline;
    font-weight: 300;
    list-style: none;
}

.intro-section .navbar .nav-links li a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    font-weight: lighter;
    float: right;
    letter-spacing: 0.5px;
    padding-left: 15px;
}

.clear-fix {
    clear: both;
}


/* star */

.checked {
    color: orange;
}