* {
    margin: 0%;
    padding: 0%;
}


/* Header Section */

.navbar {
    margin-bottom: 4px;
    background-image: url(/Day3/Task/Answer/images/drew-coffman-1872.jpg);
    Background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    Height: 100vh;
}


/* Logo */

.logo {
    width: 170px;
    height: 0px;
    display: inline-block;
}

.logo img {
    width: 150px;
    padding-top: 20px;
    padding-left: 150px;
}


/* Navbar links */

.nav-links ul {
    width: 100%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
}

.nav-links ul li a {
    width: 50px;
    text-decoration: none;
    font-size: medium;
    padding-left: 30px;
    font-size: 17px;
    color: white;
}

.nav-links {
    width: 75%;
    display: inline-block;
    text-align: right;
}


/* introduction */

.introduction {
    text-align: center;
    padding-top: 170px;
}

.introduction h3 {
    color: white;
    font-weight: 100;
    font-family: 'Alegreya', serif;
    padding-bottom: 20px;
}

.introduction h1 {
    color: white;
    font-weight: 300;
    font-size: 65px;
    font-family: serif;
    padding-bottom: 30px;
}

.introduction .buttons {
    margin-top: 20px;
}

.introduction .headline {
    color: white;
    font-size: 20px;
    font-family: serif;
    padding-bottom: 20px;
    font-weight: 100;
}

.introduction .btn1 {
    color: white;
    font-size: 13.5px;
    font-family: serif;
    font-weight: bold;
    background-color: rgb(139, 119, 91);
    border: none;
    padding: 18px 30px;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 5%;
}

.introduction .btn2 {
    color: white;
    font-size: 13.5px;
    font-family: serif;
    font-weight: bolder;
    background-color: rgb(139, 119, 91);
    border: none;
    padding: 17px 30px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 10px;
    border-radius: 5%;
}


/* Animation button */

.white-button {
    margin: 70px auto;
    border: 2px solid white;
    border-radius: 43%;
    height: 55px;
    width: 35px;
    background-color: transparent;
}


/* 2nd section */

.food-image {
    width: 38%;
    background-color: aqua;
    display: inline-block;
}

.food-image img {
    width: 100%;
}

.who-are-we {
    background-color: red;
    display: inline-block;
    width: 90%;
}

.who-are-we-items {
    background-color: red;
    display: inline-block;
    width: 40%;
}