/* * {
    margin: 0;
    padding: 0;
} */

* {
    box-sizing: border-box;
}

.our-baking {
    text-align: center;
}

.item {
    width: 33.33%;
    float: left;
    padding: 10px;
}

.item img {
    width: 100%;
}

.inner {
    background-color: teal;
}

@media screen and (max-width: 600px) {
    .item {
        width: 100%;
    }
}

@media screen and (max-width: 601px) and (max-width: 768px) {
    .item {
        width: 50%;
    }
}


/* 
breakpoint in rwd
0 - 600
601 = 768
769 - 962
993 - 1200

instead of clearing float we give width:100%

you can either write media query after each section
after whole page
move it into separate file
*/


/* for printing */

@media print {
    .item {
        width: 50%;
    }
}


/* for reading */

@media speech {
    .item {
        width: 50%;
    }
}


/* for all */

@media all {
    .item {
        width: 50%;
    }
}

.task1 {
    background-color: royalblue;
    padding: 10px;
    width: 70%;
    text-align: center;
    /* margin-left: 15%;
    margin-right: 15%; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    /* outline: 4px solid green; */
    /* display: block; */
    vertical-align: text-bottom;
}

.container {
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
}