.item1 {
    background-color: aqua;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 3;
}

.item2 {
    background-color: royalblue;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 2;
}

.item3 {
    background-color: grey;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 1;
}