body {
    background-color: rgb(20, 20, 46);
}

h1 {
    color: darkorange;
}

p {
    color: rgb(197, 194, 194);
}

table,
td,
th {
    border: 2px solid black;
    width: 25%;
    color: white;
    background-color: rgba(77, 117, 136, 0.562);
    width: 20%;
    font-size: 18x;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.special {
    padding-left: 3px;
}